.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 3.5rem !important;
}

.App-link {
  color: #61dafb;
}

.new-cat-fab{
  position: fixed !important;
  bottom: 85px;
  right: 20px;
}

.MuiFab-secondary{
  color: black;
}

.view-toggle-fab{
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.fab-visible{
  opacity: 1;
  transition: all 1s;
}

.fab-hidden{
  opacity: 0;
  transition: all 1s;
  pointer-events: none;
}

.header-row{
  display: flex;
  align-items: center;
}

.img-row{
  margin-bottom: 5px;
  margin-left: 5px;
}

.heart-img-m{
  height: 33px;
  margin-top: 8px;
}

.heart-img-w{
  height: 44px;
  margin-bottom: 5px;
}

.todo-list{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 5px;
}